<div class="container-fluid">
    <div class="col-4 card shadow" style="border-radius: 1.25rem; border-width: 0;">
        <div class="card-body">
            <form>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="First Name" />
                    </div>
                    <div class="col">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="Last name" />
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-2">
                        <label class="form-text"
                            style="font-size: 0.875rem; margin-top: 0; padding-top: 10px; padding-bottom:10px ; font-weight: 500;">E-mail
                            Id:</label>
                    </div>
                    <div class="col" style="padding-left: 0;">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="Enter your E-mail address"/>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="New Password" />
                    </div>
                    <div class="col" style="padding-left: 0;">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="Date Of birth" />
                            <app-date-picker></app-date-picker>
                    </div>
                    <div class="col" style="padding-left: 0;">
                        <Input type="text" class="form-control" id="inputEmail4" style="overflow: auto;"
                            placeholder="Confirm Password" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>