<header class="sticky-top shadow rounded">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md bg-light">
        <a href="#" class="navbar-brand fa-solid fa-arrow-right-to-bracket" style="padding-left: 10px; color: #0d6efd;">
            <strong style="font-family: fantasy; font-size: x-large; padding-left: 5px;">Login Page</strong>
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="d-flex bd-highlight">
            <a class="p-2 bd-highlight" href="#!" style="color: #0d6efd; text-decoration: none;">Link1</a>
            <a class="p-2 bd-highlight" href="#!" style="color: #0d6efd; text-decoration: none;">Link2</a>
            <a class="p-2 bd-highlight" href="#!" style="color: #0d6efd; text-decoration: none;">Link3</a>
        </div>
    </nav>  
</header>