<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a href="#" class="fa-solid fa-arrow-right-to-bracket" style="color: white; font-size: x-large;text-decoration: none; padding-left: 10px;"></a>
        <a class="navbar-brand text-end" href="#" style="padding-left: 10px; color: white;">Login Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">Flex item 1</div>
            <div class="p-2 bd-highlight">Flex item 2</div>
            <div class="p-2 bd-highlight">Flex item 3</div>
          </div>
    </nav>
</header>